/*
* Anna Getty
* Due Date
* Project Name and Description
*/

/* The universal selector */

* { 

} 

/* Body attributes here */

body {
  background-color:lightpink;
font-family: Arial, Helvetica, sans-serif;
     
    
}
header {
    
    background-color: #ff6666; 
 text-align: center;}
}
#logo {float:center}
/* Use this to place your picture in the middle of the page. */
#photo1  {width: 300px; height: 200px; float:right;}
#photo2 {width:300px; height:200px; float:right;}
/* I the sizes of these pictures are the same so they look lnext to each other. */

h1 {
    color: black;
    font-family: cursive;
    font-size: 175%; 
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
}
h2 {
    color: black;
    font-family: cursive;
    font-size: 150%;
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
}


p{
    background-color: lightpink;
    color: black; 
}

footer{
    
    font-family: serif;
    font-size: 95%;
    text-align: left;
    
}
a:hover {
    color:fuchsia;
    font-size: 150%;
}

/* This code changed the size of the links when your mouse hovered over it, also changing the color. */
a:link {color:blue;}
 a:hover, a:focus { color:fuchsia}
